main {
    display: flex;
}

.create {
    border: 1px solid black;
    position: relative;
    top: 10%;
    left: 40%;
    padding: 30px;
    margin-bottom: 120px;
    margin-left: -90px;
    background-color: lightblue;
}

.create textarea {
    width: 350px;
}
.create input {
    display: block;
    margin-bottom: 15px;
    width: 350px;
    border: none;
    border-bottom: 3px solid black;
}

.create-btn {
    border-radius: 25px;
    padding: 8px 15px;
    vertical-align: middle;
    font-size: 20px;
    background-color: rgb(190, 190, 190);
    font-weight: 600;
    cursor: pointer;
    margin-top: 10px;
}


